body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #272624;
    color: #ddd;
    margin: 0 auto;
    max-width: 50em;
    padding: 0 10vw;
    font-size: 16px;
}

h1,
h2 {
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    color: azure;
}


a {
    color: #fa0;
    text-decoration: none;
}

a:hover {
    color: #fd3;
    text-decoration: underline;
}

nav {
    margin-top: 1em;
}

footer {
    border-top: 1px solid #555;
    padding-top: 1em;
    margin-top: 2em;
    font-size: 0.8em;
    color: #aaa
}

.construction {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    height: 2.5em;
    line-height: 2.5em;
    background-image: repeating-linear-gradient(-45deg, #ffe000 0px 20px, black 20px 40px);
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000, 0 0 3px #000000;
    margin: 1.5em;
}