@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Lora:400');

html {
    font-size: min(max(1rem, 4vw), 22px);
    width: min(95vw, 1300px);
    margin: 0 auto;
}

img, video {
    max-width: 100%;
}


body {
    background-color: #252530;
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.65;
    color: #ddd;
    display: flex;
}

nav {
    background-color: #202025;
    font-size: .7em;
    width: 24em;
    position: fixed;
    margin-top: 4em;
    height: 80vh;
    overflow: auto;
    border-bottom: 1px dashed #669;
    border-top: 1px dashed #669;
}

nav ul {
    padding-inline-start: 15px;
}

nav li {
    display: block;
    margin-bottom: 0.4em;
    text-indent: -0.25em;
}

nav li li {
    margin-left: 1em;
}

main {
    width: min(90vw, 900px);
    margin-left: 18em;
}


p {
    margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 1.802em;
}

h2 {
    font-size: 1.602em;
}

h3 {
    font-size: 1.424em;
}

h4 {
    font-size: 1.266em;
}

h5 {
    font-size: 1.125em;
}

small,
.text_small {
    font-size: 0.889em;
}

nav a {
    padding: 0.3em;
}

a {
    color: #aaa;
    text-decoration: none;
    transition: background-color .5s;
}

a.parent {
    color: #fff;
}

a:hover,
a.active {
    color: #fff;
    background-color: #606065;
}

figcaption {
    font-size: 0.8em;
}

.asterism {
    text-align: center;
    font-size: 1.2em;
}


nav::-webkit-scrollbar-track {
    background-color: #202025;
}

nav::-webkit-scrollbar {
    width: 10px;
    background-color: #202025;
}

nav::-webkit-scrollbar-thumb {
    background-color: #454550;
    border-radius: 10px;
}